@use "./variables" as *;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color: $text-color;
  font-family: $primary-font;
  background: $bg-color;
}

.center {
  text-align: center
}
