$primary-font: Helvetica, sans-serif;

$bg-color: #222831;
$bg-color-secondary: #393e46;
$bg2-color: lighten($bg-color, 10%);
$bg2-color-secondary: lighten($bg-color-secondary, 10%);

$accent-color: #d65a31;

$text-color: #eee;
$text-color-muted: #bbb;
