@use "../../node_modules/normalize.css/normalize.css";

@use "./modules/base";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 256px;
  height: 768px;
  background: white;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  font-size: 14px;

  .chat-log {
    margin-left: 5px;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .chat-message-container {
      margin-bottom: 5px;

      .chat-user {
        font-weight: bold;
        margin-right: 5px;
      }

      .chat-message {
        word-wrap: break-word;
      }
    }
  }

  .chat-input {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    border: none;
    border-top: 1px solid black;
    padding: 5px;
    outline: none;
  }
}
