@import "/node_modules/normalize.css/normalize.css";

@import "modules/variables";
@import "modules/base";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 256px;
  height: 768px;
  background: #202020;
}
