@use "../../node_modules/normalize.css/normalize.css";

@use "./modules/base";
@use "./modules/variables" as *;

$game-list-width: 300px;
$user-list-width: 200px;

a {
  color: unset;
  text-decoration: unset;
}

.lobby-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;

  font-size: 12px;

  color: $text-color;
}

.game-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $game-list-width;

  background-color: $bg2-color;

  display: flex;
  flex-direction: column;

  > .header {
    flex: 0 0;
    border-bottom: 1px solid $bg-color;
    padding-bottom: 6px;
  }

  > .list {
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
  }

  > .footer {
    flex: 0 0;
    border-top: 1px solid $bg-color;
    padding: 6px 0;
  }
}

.game-list-item {
  display: flex;
  margin: 6px 6px 0;
  padding: 4px 6px;
  min-width: 0;
  border-radius: 2px;
  line-height: 16px;

  &.-selected {
    background-color: $bg2-color-secondary;
  }

  &:hover {
    background-color: $bg2-color-secondary;
  }
  
  > .game-name {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 2px;
    user-select: none;
    padding: 2px 6px;
  }

  > .players {
    padding: 2px 6px;
    background-color: $accent-color;
    margin-left: 6px;
    border-radius: 2px;

    &.-full {
      background-color: $bg2-color-secondary;
    }
  }
}

.game-list-sub {
  margin: 0 6px 12px 24px;
  padding: 4px 6px;

  > .player {
    margin-left: 6px;

    &.-is-bot {
      font-style: italic;
    }
  }

  > .game-controls {
    margin-top: 8px;
  }
}

.message-item {
  display: flex;
  padding: 2px 0;

  > .time {
    color: $text-color-muted;
    flex: 0 0 auto;
    padding: 0 6px;
  }

  > .message {
    color: $text-color;
    text-indent: -10px;
    margin-left: 10px;

    &.-generated {
      font-style: italic;
    }

    .inline-message-link {
      text-decoration: underline;
    }

    > .user-name {
      font-weight: bold;
    }
  }
}

.button-group {
  display: flex;
  justify-content: center;

  &.-inline {
    display: inline-flex;
    justify-content: initial;
  }

  > .button {
    flex: 0 0 auto;
    padding: 4px 8px;
    background-color: $bg2-color-secondary;
    cursor: default;
    user-select: none;

    &:hover {
      background-color: $accent-color;
    }
  }

  > .button + .button {
    border-left: 1px solid $bg2-color;
  }

  > .button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  };

  > .button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.message-list {
  position: absolute;
  top: 0;
  left: $game-list-width;
  bottom: 0;
  right: $user-list-width;

  display: flex;
  flex-direction: column;

  > .list {
    flex: 1 1 auto;
    overflow: auto;
    padding: 6px 0;
  }

  > .entry {
    flex: 0 0 auto;
    display: flex;

    > .chat-input {
      flex: 1 1 auto;
      background: darken($bg-color, 10%);
      margin: 6px 12px;
      height: 21px;
      border: none;
      color: $text-color;
      border-radius: 2px;
      padding: 4px 8px;
    }
  }
}

.user-list {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: $user-list-width;

  background-color: $bg2-color;

  overflow: auto;

  > .user-name-item {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    padding: 6px 8px;
  }
}
