.hand {
  display: flex;
  //   background: #77a178;
  //   padding: 20px;

  .card {
    margin-left: -102px;

    &:first-child {
      margin-left: 0px;
    }

    img {
      width: 124px;
      display: block;
    }
  }

  &.playable > .card {
    transition: margin-top 0.1s ease-in-out;
    cursor: pointer;
    &:hover {
      margin-top: -20px;
    }
  }
}
