.table {
  padding: 20px;
  background: #77a178;

  display: inline-grid;
  grid-template-rows: [top-info] 80px [top-cards] 233px [center-top] 100px [center] 193px [center-bottom] 100px [bottom-cards] 233px [bottom-info] 80px [end];
  grid-template-columns: [left] 418px [center] 450px [right] 418px [end];

  .top-info {
    justify-self: center;
    grid-row: top-info / center;
    grid-column: center / right;
  }
  .top {
    margin-bottom: 40px;
    justify-self: center;
    grid-row: top-cards / center;
    grid-column: center / right;
  }
  .top-plays {
    justify-self: center;
    grid-row: center-top / center;
    grid-column: center / right;
  }

  .right {
    margin-left: 30px;
    align-self: center;
    grid-row: center / center-bottom;
    grid-column: right / end;
  }
  .right-info {
    align-self: center;
    grid-row: center-top / center;
    grid-column: right / end;
  }
  .right-plays {
    justify-self: right;
    grid-row: center / center-bottom;
    grid-column: center / right;
  }

  .bottom {
    margin-top: 40px;
    justify-self: center;
    grid-row: bottom-cards / bottom-info;
    grid-column: center / right;
  }
  .bottom-info {
    justify-self: center;
    grid-row: bottom-info / end;
    grid-column: center / right;
  }
  .bottom-plays {
    align-self: end;
    justify-self: center;
    grid-row: center / bottom-cards;
    grid-column: center / right;
  }

  .left {
    align-self: center;
    grid-row: center / center-bottom;
    grid-column: left / center;
  }
  .left-info {
    align-self: center;
    grid-row: center-top / center;
    grid-column: left / center;
  }
  .left-plays {
    grid-row: center / center-bottom;
    grid-column: center / right;
  }

  .center {
    border: 2px dashed black;
    grid-row: center-top / bottom-cards;
    grid-column: center / right;

    img {
      width: 124px;
    }
  }
}
